<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.mahdidev.digikala">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".util.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".controller.activity.MapActivity"
            android:launchMode="singleTask"></activity>
        <activity android:name=".controller.activity.CustomerInfoActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.LoginRegisterActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.SearchActivity"
            android:launchMode="singleTask"
            />
        <activity
            android:launchMode="singleTask"
            android:name=".controller.activity.ProductsListActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />
        <activity android:name=".controller.activity.CategoryListActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.FavoriteProductsActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.ProductBasketActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.ProductActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.NoInternetConnectionActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".controller.activity.SplashScreenActivity"
            android:launchMode="singleTask"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:launchMode="singleTask"
            android:name=".controller.activity.MainActivity"
            android:configChanges="orientation|screenSize|keyboard|keyboardHidden" />

        <receiver
            android:name=".networkutil.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>